.space1 {
    height: 200px;
    width: auto;
    background-color: black;
}

.space1 #mark {
    margin-left: 100px;

    text-align: center;
    width: 900px;
    font-size: 40px;
    background-color: black;
    color: aqua;
}



/*  main section of css */

.fullstack {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    gap: 500px;
    padding-bottom: 200px;
    background-color: rgb(18, 19, 3);
    box-shadow: 0px 0px 10px rgb(175, 116, 116);
}


/*  full stack left section  */

.fullstack-left {
    background-color: rgb(70, 75, 37);
    color: white;
    padding: 100px;
    border-radius: 100px 0;
}


.fullstack-left #name {

    font-size: 55px;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 0;
}

.fullstack-left #stack {
    font-size: 30px;

    font-weight: 500;
    color: blue;
}

.fullstack-left #info {
    font-size: 20px;
    font-weight: 600;
}

.fullstack-left span {
    color: aqua;
    font-size: 35px;
    font-weight: 600;
}